fastapi==0.111.0
uvicorn==0.30.1

boto3==1.34.131
botocore==1.34.131

python-dotenv==1.0.1

pydantic==2.7.4

✔ FastAPI

백엔드 서버 프레임워크

✔ Uvicorn

FastAPI 런처

✔ boto3 / botocore

AWS Bedrock Runtime
AWS Bedrock Agent Runtime(KB 검색)
IAM 인증
모델 호출 전부 여기 있음

✔ python-dotenv

환경변수(.env) 관리용

✔ pydantic

Request Body 검증 (ChatReq class)